body {
  margin: 0;
  background-color: #303F9F;
  font-family: 'Fira Code', monospace;
}

h1{
  color:white;
  font-weight: bold;
}

.card p{
  margin: 0;
}

.card img{
  max-height: 300px;
  object-fit: cover;
}